.CartGeneratorPageCard {
  width: 160px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    border: 1px solid rgb(223, 223, 223);
    transition: all 0.2s linear;
}
.CartGeneratorPageCard .imgSec {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  aspect-ratio: 1;
}
.CartGeneratorPageCard .imgSec img {
  width: 80%;
  height: 80%;
}
.CartGeneratorPageCard .imgSec .pngImg {
    width: 80%;
    height: 80%;
    object-fit: contain;
    padding: 12px 0;
  }
  .CartGeneratorPageCard .imgSec .jpgImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1;
  }
.CartGeneratorPageCard .imgSec .CartGeneratorPageCardBrand {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 12px;
  padding: 5px 10px;
  background-color: white;
  border-radius: 0px 10px 0px 0px;
}
.CartGeneratorPageCard .detailCard{
    padding: 10px;
}
.CartGeneratorPageCard .detailCard .name{
    font-weight: 500;
    font-size: 14px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: wrap;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 35px;
    margin-bottom: 10px;
}
.CartGeneratorPageCard .detailCard .unit{
    font-weight: 500;
    font-size: 12px;
}
.CartGeneratorPageCard .priceAndCart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 34px;
}
.CartGeneratorPageCard .priceAndCart .CardGenCardPrice{
    font-size: 16px;
    line-height: 1.1;
    font-weight: 500;
}

.CartGeneratorPageCard .addToCart {
    position: absolute;
    width: 55%;
    margin: 0;
    right:10px;
    bottom:10px;
}
.CartGeneratorPageCard .addToCart  .quantity{
  width: unset;
}
.CartGeneratorPageCard .addToCart .decrementBtn, .incrementBtn {
  padding: 3px 8px;
}
