.HomeBannerSection {
    display: flex;
    align-items: center;
    gap: 10px;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 20px 0;
}

.HomeBannerSection::-webkit-scrollbar {
    display: none;
}
.HomeBannerBox{
    overflow: hidden;
    min-width: 350px;
    height: 200px;
    aspect-ratio: 16 /9;
    border-radius: 22px;
}
.HomeBannerBox2{
    overflow: hidden;
    min-width: 122px;
    width: 122px;
    height: 200px;
    border-radius: 22px;
}
.HomeBannerBox img,.HomeBannerBox2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
