.banner {
  display: flex;
  /* justify-content: center; */
  width: auto;
  min-height: 150px;
  height: 270px;
  border-radius: 20px;
  padding: 40px;
  margin: 10px 0  20px 0;
  position: relative;
  overflow: hidden;
  /* background-image: linear-gradient(
    150deg,
    #ffd9d9 0%,
    #e0eaffe1 55%,
    #c0d4ff 100%
  ); */
  background-color: #f0f0f5;
  border: 1px solid lightgray;
  }
.LogoAndAddressSecHome{
  display: none;
  justify-content: space-between;
  position: relative;
  left: 0px;
  top: 0;
  transform: translateX(-2%);
  padding: 10px 20px;
width: 100vw;
background: linear-gradient(rgb(141, 181, 255),rgb(170, 200, 255));
}
.LogoAndAddressSecHome .userLocationBox{
  width: 220px;
}
.LogoImageBanner{
  height: 40px;
  width: fit-content;
  object-fit: contain;
}
.HomeSearch{
  position: sticky;
  left: 0px;
  top: 0;
  transform: translateX(-2%);
  padding: 10px 0 20px 0;
width: 100vw;
z-index: 99;
border-radius: 0px 0px 20px 20px;
-moz-border-radius: 0px 0px 20px 20px;
-webkit-border-radius: 0px 0px 20px 20px;
background: linear-gradient( rgb(170, 200, 255), rgb(191, 213, 255));
}
.HomeSearch .searchBar{
  width: 85%;
  margin: 0 auto;
  border: 1px solid rgb(170, 170, 170);
}

.banner-detail {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 70%;
  left: 60px;
  z-index: 2;
  justify-content: end;
}
.banner-detail > h1 {
  font-weight: 600;
  font-size: 25px;
}
.banner .BannerImage {
  position: absolute;
  height: 107%;
  right: 31px;
  bottom: 0px;
}
#bannerBtn {
  display: block;
  background-color: rgb(174, 202, 255);
  border-radius: 10px;
  width: fit-content;
  font-size: 1.2rem;
  padding: 10px 40px;
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: none;
}
#titleFont {
  font-weight: 500;
  border-radius: 5px;
  width: fit-content;
}
.FeaturesHome {
  width: 100%;
}
.TitleSec{
margin-top: 10px;
display: flex;
align-items: center;
gap: 20px;
}
.TitleSec h3{
  position: relative;
padding: 10px 0px 10px 0;
background-color: white;
font-size: 16px;
font-weight: 600;
color: rgb(58, 58, 58);
white-space: nowrap;

}
.TitleSec .LineFaded{
 width: 100%;
  height: 2px;
  background: linear-gradient( 90deg,rgb(151, 151, 151), transparent);
}

.card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 150px;
  /* height: 326px; */
  /* width: 200px; */
  max-width: 200px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  transition: all 0.2s linear;
}
.card:hover {
  cursor: pointer;
}
.card .cmpName {
  position: absolute;
  top: 8px;
  right: 10px;
  color: #f5f4f6;
  background-color: var(--main);
  border-radius: 5px;
  width: fit-content;
  padding: 5px 10px;
  font-size: x-small;
}
.card .img-section {
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgb(240, 240, 245);
}
.card :hover img {
  transition: all 0.2s linear;
  transform: scale(1.2);
}
.shop-cards .card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card .pngImg {
  width: 80%;
  height: 80%;
  object-fit: contain;
  padding: 12px 0;
}
.card .jpgImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card .details {
  padding: 10px 10px 0 10px;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card .discountBoxInner svg path {
  fill: var(--primary-color);
}
.card .details p {
  font-weight: 500;
  font-size: 14px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: wrap;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 43px;
}
.card .discountBox {
  position: absolute;
  top: 0;
  right: 10px;
}
.card .discountBox .discountBoxInner {
  position: relative;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card .discountBox .discountBoxInner svg {
  position: absolute;
  top: -2px;
  width: 40px;
  height: 40px;
}
.card .discountBox .discountBoxInner .discountText {
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 10px;
  text-align: center;
  width: 80%;
  z-index: 11;
}
.card .priceDetails {
  height: 20px;
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.card .priceDetails .price {
  font-size: 16px;
  font-weight: 700;
  color: black;
  font-size: 18px;
  font-weight: 600;
}

.FeaturesHome .card .priceDetails .mrp {
  text-decoration: line-through;
}

.card .mrp {
  color: rgb(85, 85, 85);
  font-size: 14px;
  font-weight: 600;
  text-decoration: line-through;
}
.HomeSubTitle {
  min-height: 15px;
  font-size: 12px;
  font-weight: 600;
  opacity: 0.9;
}
@media screen and (max-width: 480px) {
  .banner {
    padding: 20px 15px;
        border-radius: 10px;
        height: 400px;
        width: auto;
  }
  .banner-detail {
    justify-content: start;
    width: 100%;
  }
  .LogoImageBanner{
    height: 20px;
    width: fit-content;
    object-fit: contain;
  }
  #bannerBtn {
    font-size: 0.8rem;
   padding: 10px 14px;
   border-radius: 200px;
  }
  .banner-detail > h1 {
    font-size: 0.9rem;
  }
  #titleFont {
    width: 70%;
    font-size: 0.9rem;
  }
  .banner .BannerImage {
    height: 73%;
    right: 50%;
    transform: translateX(50%);
  }
  .relatedPro .card {
    width: unset;
  }
  .card {
    width: 160px;
    min-width: unset;
  }
  .card .img-section {
    height: unset;
    width: 100%;
  }
  .LogoAndAddressSecHome{
    display: flex;
  }
}
