.HomeBannerSec{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.HomeBannerSection::-webkit-scrollbar {
    display: none;
}
.HomeBannerBox{
    overflow: hidden;
    min-width: 350px;
    height: 200px;
    aspect-ratio: 16 /9;
    border-radius: 22px;
}
.HomeBannerBox2{
    overflow: hidden;
    min-width: 122px;
    width: 122px;
    height: 200px;
    border-radius: 22px;
}
.HomeBannerBox img,.HomeBannerBox2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.HomeBannerSectionMain{
    grid-template-columns: repeat(4,1fr);
}
.HomeBannerSection2{
    padding: 30px 0;
    gap: 10px;
    grid-template-columns: repeat(5,1fr);
}

.HomeBannerBoxMain{
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
    border-radius: 20px;
}
.HomeBannerBoxMain img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.HomeGrid{
    width: 100%;
    display: grid;
    gap: 15px;
}
.HomeBrand1 {
    display: flex;
    align-items: center;
    gap: 10px;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
@media screen and (max-width: 480px) {
    /* .HomeBannerSec{
        gap: 10px;
    } */
.HomeBannerSection {
    display: flex;
    align-items: center;
    gap: 10px;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.HomeBannerBoxMain{
    min-width: 300px;
}
.HomeBannerSection2Div{
    min-width: 230px;
}
}