.AccountPage{
    display: flex;
    align-items: center;
    justify-content: center;
    width:auto;
    padding: 20px;
    background-color: var(--primary-color);
    color: white;
    height: 100%;
}