.cartPage {
  position: absolute;
  left: 0;
  width: 100vw;
  background-color: #f1f1f1;
  min-height: 100vh;
}

.cartPage h1 {
  font-weight: 600;
  font-size: 30px;
  padding: 40px 0;
}
.cartSec {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  height: 100%;
}
.cartCardSec {
  width: 65%;
}
.cartCardSec, .cartTotal,.ApplyCoupe{
  background-color: white;
  overflow: hidden;
  border-radius: 16px;
  border: 1px solid rgb(236, 236, 236);
  box-shadow: rgba(0, 0, 0, 0.04) 2px 2px 8px;
}
.CartCard {
  display: flex;
  justify-content: space-between;
  width: auto;
  padding: 20px 30px;
  border-bottom: 1px solid rgb(236, 236, 236);
}
.part-1 {
  gap: 15px;
  display: flex;
  align-items: center;
}
.cartProName{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}
.cartProSubTitle{
  font-size: 14px;
}
.imgCartSec {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #ececec;
}
.imgCartSec img {
  width: 90px;
  height: 90px;
  aspect-ratio: 1;
  object-fit: contain;
}
.offerBenefitsSec{
 width: 30%;
display: flex;
flex-direction: column;
gap: 30px;
}
.offerBenefitsSec h2{
  font-weight: 600;
  font-size: 18px;
}
.ApplyCoupe{
  padding: 20px;
}
.ApplyCoupe .titleSec{
  display: flex;
  font-size: 18px;
  font-weight: 600;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}
.CouponInput{
  font-size: 16px;
  border-radius: 10px;
  width: -webkit-fill-available;
  padding: 10px;
  border: none;
  background-color: #f1f1f1;
  outline: none;
}
.cartTotal{
  
  padding: 18px;
}
.cartTotal h3{
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 18px;
}
.summaryDiv{
  padding: 10px 0;
display: flex;
width: 100%;
justify-content: space-between;
align-items: center;
}
@media screen and (max-width: 450px) {
  .cartSec {
    flex-direction: column;
}
}
