.chatBox {
  position: absolute;
  bottom: 10px;
  left: 0;
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chatBox .chatBoxForm {
     display: flex;
    width: 100%;
    border-radius: 38px;
    overflow: hidden;
    background-color: #e9e9e9;
    padding: 11px;
    gap: 10px;
    align-items: end;
}
.chatBox .chat{
  height: 40vh;
}
.chatBox .chatBoxInput {
  width: 100%;
  min-height: 40px;
  padding: 10px;
  font-size: 16px;
  background-color: transparent;
  border: none;
  resize: none;
  box-sizing: border-box;
  outline: none;
  font-weight: 700;
  overflow: auto;
  max-height: 100px;
  font-family: Helvetica, sans-serif;
}

.chatBoxInput:disabled {
  cursor: not-allowed;
}
/* .chatBox .chatBoxInput ::placeholder{
  font-weight: 700;
} */
.chatBox button {
  background-color: var(--primary-color);
  border-radius: 50%;
  min-height: 40px;
  min-width: 40px;
  max-height: 40px;
  max-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatBox button svg {
  width: 20px;
  height: 20px;
}

.chatBox button .spinner:before {
  display: block;
  height: 3px;
  width: 3px;
  content: "";
  -webkit-animation: spin 1s infinite;
  animation: spin 1s infinite;
  border-radius: 100%;
  -webkit-box-shadow: 8px 0 0 1.6px var(--secondary-color), 0 8px 0 1.6px var(--background-color),
  0 -8px 0 1.6px var(--background-color), -8px 0 0 1.6px var(--background-color);
box-shadow: 8px 0 0 1.6px var(--secondary-color), 0 8px 0 1.6px var(--background-color),
  0 -8px 0 1.6px var(--background-color), -8px 0 0 1.6px var(--background-color);
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 480px) {
  /* .chatBox .chatBoxForm {
    padding: 5px;
  } */
}