.ChatPage {
  position: relative;
  width: 100%;
  height: 97%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  
}
.ChatActive{
    display: none;
}
.pageRes {
  width: 100%;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  justify-content: end;
  gap: 10px;
  height: 100%;
  text-wrap: balance;
}
.textChat {
  position: relative;
  font-size: 1.3rem;
  width: 80%;
  padding: 20px 0;
  min-height: 220px;
  margin: 0 auto;
  text-align: center;
  height: fit-content;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: baseline;
  overflow: hidden;
}

.textChat span {
  position: absolute;
  bottom: 0;
  font-weight: 700;
  /* left: 50%; */
  transform: translate(20px, 50%);
  font-size: 2.6rem;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.textChat span.active {
  opacity: 1;
  transform: translate(0px, -50%);
}

.boxImgGemini {
  margin: 20px 0;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 18px;
  gap: 10px;
  font-weight: 500;
}
.boxImgGemini div {
  min-height: 20px;
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.boxImgGemini img {
  height: 18px;
  margin: 0 7px;
}

.ChatSuggestCardSec {
  width: 100%;
  display: flex;
  gap: 10px;
  min-height: 185px;
  overflow: auto;
  padding-bottom: 6px;
}
.suggestedCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  min-width: 205px;
  min-height: 150px;
  height: 150px;
  width: 205px;
  padding: 16px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(218, 218, 218);
  transition: all 0.32s linear;
}
.suggestedCard:hover {
  color: white;
  cursor: pointer;
  background-color: var(--primary-color);
}

.suggestedCard:hover .suggestionIcon {
  border: 1px solid rgba(255, 255, 255, 0.664);
}
.suggestedCard:hover .suggestionIcon svg {
  stroke: white;
}
.suggestedCard .suggestionIcon {
    border: 1px solid rgb(218, 218, 218);
  width: 25px;
  padding: 10px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.suggestedCard .suggestionIcon svg {
  stroke: var(--primary-color);
  height: 21px;
  width: 21px;
}
.suggestedCard .textSuggestion {
  height: 84px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.suggestedCard .textSuggestion h3 {
  font-weight: 600;
}
.suggestedCard .textSuggestion p {
  font-size: 14px;
}
.FoodStyleCardSec {
  display: flex;
  align-items: center;
  gap: 10px;
  overflow-x: auto;
  min-height: 40px;
  margin-bottom: 10px;
}
.FoodStyleCardSec button {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 25px;
  padding: 10px 24px;
  cursor: pointer;
  height: 40px;
  width: fit-content;
  display: flex;
  align-items: start;
  gap: 7px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  white-space: nowrap;
}
.FoodStyleCardSec button svg {
  height: 16px;
  width: 16px;
  stroke: var(--primary-color);
}

.FoodStyleCardSec .active {
  background-color: var(--primary-color);
  color: aliceblue;
}
.FoodStyleCardSec .active svg {
  stroke: aliceblue;
}
@media (max-width: 480px) {
  .main {
    height: calc(100% - 90px) !important;
  }
  .ChatPage {
    overflow: hidden;
  }
  .ChatSuggestCardSec {
    justify-content: start;
  }
  .textChat {
    width: 100%;
  }
  .textChat span {
    font-size: 25px;
  }
  .textChat {
    font-size: 14px;
  }
  .boxImgGemini {
    flex-direction: column;
  }
  .boxImgGemini div {
    margin: 0 auto;
  }
}
