.HomeBannerSection {
    display: flex;
    align-items: center;
    gap: 16px;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 20px 0;
}

.HomeBannerSection::-webkit-scrollbar {
    display: none;
}
.HomeBannerBox{
    overflow: hidden;
    position: relative;
    min-width: 340px;
    height: 180px;
    aspect-ratio: 16 / 9;
    padding: 12px 16px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.223) 0px 7px 29px 0px;
}
.HomeBannerBox img{
    position: absolute;
    right: -30px;
    bottom: -30px;
    width: 280px;
    object-fit: contain;
    z-index: 0;
}
.HomeBannerBox .detailHomeBanner{
    position: absolute;
    width: 80%;
    display: flex;
    height: 100%;
    flex-direction: column;
}
.HomeBannerBox .detailHomeBanner p{
    font-size: 24px;
    font-weight: 700;
}
.HomeBannerBox .detailHomeBanner a{
    position: absolute;
    bottom: 20px;
    /* z-index: 1; */
    cursor: pointer;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 14px;
    background-color: aliceblue;
    width: fit-content;
    padding: 8px 16px;
    border-radius: 8px;
}