@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import url("https://fonts.cdnfonts.com/css/uber-move-text");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/pilcrow");
@import url("https://fonts.cdnfonts.com/css/basier");
@import url("https://fonts.cdnfonts.com/css/qanelas-soft");
@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap");
:root {
  /* --primary-color:  #163d2a; */
  --primary-color: #0083d1;
  /* --secondary-color:  #163d2a20; */
  --secondary-color: #86acfe4b;
  --sec-color: #ff6f61;
  --btn-back-color: #d4e3ff;
  --accent-color: #ffd54f;
  --background-color: #f5f5f5;
  --text-color: #424242;

  --g5-1-x-position: 1.0937500000000024%;
  --g5-1-y-position: 0%;
  --g5-2-x-position: 15.312500000000002%;
  --g5-2-y-position: 85.46875%;
  --g5-3-x-position: 97.1875%;
  --g5-3-y-position: 48.515625%;
}

::selection {
  background-color: var(--sec-color);
  color: var(--primary-color);
}

@font-face {
  font-family: "gillroy";
  src: url("../assets/font/Gilroy-Regular.ttf");
}
* {
  font-weight: 400;
  margin: 0;
  padding: 0;

  /* font-family: helvetica neue, Arial, sans-serif; */
  /* font-family: "Sora", sans-serif; */
  /* font-family: "Uber Move Text", sans-serif; */
  /* font-family: 'Urbanist', sans-serif; */
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Qanelas Soft', sans-serif; */
  /* font-family: 'Basier Circle', sans-serif; */
  /* font-family: 'Pilcrow', sans-serif; */
  /* font-family: "Golos Text", sans-serif; */
  /* font-family: gillroy; */
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
}
body {
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}
button {
  color: var(--text-color);
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.MainChat {
  height: 100% !important;
  width: 100vw !important;
  padding-top: 0px !important;
}
.chatLogo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  padding: 0 5%;
  position: fixed;
  top: 1.25rem;
  left: 1.25rem;
  z-index: 30;
}
.HomeBtnChat{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  width: 38px;
  border: 1px solid rgb(175, 175, 175);
  background-color: rgba(255, 255, 255, 0.281);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border-radius: 50%;
}
.HomeBtnChat svg{
  height:22px;
  width:22px;
}
.chatBg {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.chatBg .Layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.651);
  backdrop-filter: blur(46.5px);
  -webkit-backdrop-filter: blur(90.5px);
}
.chatBg img,
.chatBg video {
  position: absolute;
  opacity: 0.5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video fills the screen and maintains its aspect ratio */
  z-index: -1; 
  animation: videoBg 1s linear;
  transition: all linear;
}
.backgroundBG {
  height: 100%;
  width: 100%;
  background: linear-gradient(28deg, #7398ff, #51e9fc);
  background: radial-gradient(100% 100% at 4% 3%, #adc3ff 0%, transparent), radial-gradient( 100% 100% at var(--g2-1-x-position) var(--g2-1-y-position), #7dabff -32%, transparent ), radial-gradient( 100% 100% at var(--g2-2-x-position) var(--g2-2-y-position), #ffc8c8 0%, transparent ), #ffcdcd;
  animation-name: g-2;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  transition-timing-function: linear
  }
  
  @property --g2-1-x-position { syntax: "<percentage>"; inherits: false; initial-value: 87.96875%; }
  
  @property --g2-1-y-position { syntax: "<percentage>"; inherits: false; initial-value: 91.1328125%; }
  
  @property --g2-2-x-position { syntax: "<percentage>"; inherits: false; initial-value: 13.398437500000002%; }
  
  @property --g2-2-y-position { syntax: "<percentage>"; inherits: false; initial-value: 82.734375%; }
  
  
  :root {
  
  --g2-1-x-position: 87.96875%
  
  --g2-1-y-position: 91.1328125%
  
  --g2-2-x-position: 13.398437500000002%
  
  --g2-2-y-position: 82.734375%
  
  }
  
  
  @keyframes g-2 { 50% { --g2-1-x-position: 15%; --g2-1-y-position: 15%; --g2-2-x-position: 61.21093749999999%; --g2-2-y-position: 13.750000000000002%; } }

@keyframes videoBg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main {
  /* width: min(80%, 1250px); */
  width: 80%;
  margin: 0 auto;
  height: calc(100% - 86px);
  padding-top: 86px;
}
.lightGrayBorder {
  border: 1px solid lightgray;
}
.shadowDeep {
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px,
    rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px,
    rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
    rgba(42, 51, 70, 0.04) 0px 6px 6px -3px,
    rgba(14, 63, 126, 0.04) 0px 12px 12px -6px,
    rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}
.mobileShop {
  height: 100% !important;
  padding-top: 0 !important;
  width: 100% !important;
}
.card .addToCart {
  width: auto;
}
.HomeSearch {
  display: none;
}
.addToCart {
  background-color: white;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  margin: 0 10px 10px 10px;
}
.addToCart {
  z-index: 9;
  font-weight: 600;
  width: fit-content;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.addButton {
  color: var(--primary-color);
  border: none;
  height: 30px;
  width: 100%;
  font-weight: 500;
  /* font-size: 22px; */
  cursor: pointer;
}
.QanActive {
  color: white;
  padding: 0;
  background-color: var(--primary-color);
}
.counterBtnGroup {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}
.counter {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  justify-content: space-between;
  border-radius: 4px;
}
.removeBtn {
  display: none;
  outline: 1px solid rgb(255, 107, 107);
  height: 28px;
  padding: 4px;
  border-radius: 4px;
}
.removeBtn svg {
  width: 20.5px;
  height: 20.5px;
}
.removeBtn svg path {
  fill: rgb(255, 107, 107);
}
.decrementBtn,
.incrementBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 5px;
  font-weight: 600;
  font-size: 16px;
  color: white;
}

.quantity {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  width: 30px;
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--main);
}
.emptyMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.gridLayout {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(5, 1fr);
}
.BrandProductFound {
  padding: 10px 0;
  font-size: 20px;
}
@media (max-width: 1200px) {
  .gridLayout {
    grid-template-columns: repeat(4, 1fr);
  }

  .searchPageSec {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1000px) {
  .gridLayout {
    grid-template-columns: repeat(3, 1fr);
  }

  .searchPageSec {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 800px) {
  .gridLayout {
    grid-template-columns: repeat(2, 1fr);
  }

  .searchPageSec {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .gridLayout {
    padding: 0;
    grid-template-columns: repeat(2, 1fr);
    gap: 6px;
  }
  .mobileShop {
    height: 100% !important;
    padding-top: 0px !important;
    width: 96% !important;
  }
  .homePage {
    margin-bottom: 90px;
  }
  .main {
    width: 95%;
    overflow: scroll;
    height: calc(100% - 165.5px);
  }
  .HomeSearch {
    display: block;
  }
  .main {
    width: 95%;
  }
  .decrementBtn,
  .incrementBtn {
    padding: 3px 10px;
  }
  .removeBtn {
    height: 25px;
    padding: 3px;
  }
  .removeBtn svg {
    width: 16.5px;
    height: 16.5px;
  }
  .chatLogo {
    top: 0;
    left: 0;
    /* background-color: rgba(255, 255, 255, 0.281);
    backdrop-filter: blur(2px); */
    padding: 12px 5%;
    height: 6vh;
    /* border-bottom: 1px solid rgb(197, 197, 197); */
  }
  .chatLogo img {
    height: 25px;
  }
  .chatBg {
    /* background-image: linear-gradient(
      135deg,
      #ffffffd7 0%,
      #0083d136 80%,
      #ccecff 100%
    ); */
  }
}
