@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import url("https://fonts.cdnfonts.com/css/uber-move-text");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/pilcrow");
@import url("https://fonts.cdnfonts.com/css/basier");
@import url("https://fonts.cdnfonts.com/css/qanelas-soft");
@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap");
:root {
  /* --primary-color:  #163d2a; */
  --primary-color: #4379f2;
  /* --secondary-color:  #163d2a20; */
  --secondary-color: #86acfe4b;
  --sec-color: #ff6f61;
  --btn-back-color: #d4e3ff;
  --accent-color: #ffd54f;
  --background-color: #f5f5f5;
  --text-color: #424242;
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}
/* ::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background-color: #7aa4ff; 
  border-radius: 20px;
} */
@font-face {
  font-family: "gillroy";
  src: url('../assets/font/Gilroy-Regular.ttf');
}
* {
  font-weight: 400;
  margin: 0;
  padding: 0;

  /* font-family: helvetica neue, Arial, sans-serif; */
  /* font-family: "Sora", sans-serif; */
  /* font-family: 'Uber Move Text', sans-serif; */
  /* font-family: 'Urbanist', sans-serif; */
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: 'Qanelas Soft', sans-serif; */
  /* font-family: 'Basier Circle', sans-serif; */
  /* font-family: 'Pilcrow', sans-serif; */
  font-family: "Golos Text", sans-serif;
  /* font-family: gillroy; */
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
}
body {
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}
button {
  color: var(--text-color);
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.chatBg {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(135deg, #86acfe66 0%, #bbd1ffd7 80%, #c0cfff 100%);
}
.main{
  /* width: min(80%, 1250px); */
  width: 80%;
  margin: 0 auto;
}
.main {
  height: calc(100% - 86px);
  padding-top: 86px;
}
.mainShop{
  height: 100% !important;
  padding-top: 0 !important;
  width: 100% !important;
}
.card .addToCart {
  width: auto;
}
 .addToCart{
  background-color: white;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  margin: 0 10px 10px 10px;
}
.addToCart {
  z-index: 10;
  font-weight: 600;
  width: fit-content;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.addButton {
color: var(--primary-color);
  border: none;
  height: 30px;
  width: 100%;
  font-weight: 500;
  /* font-size: 22px; */
  cursor: pointer;
}
.QanActive {
  padding: 0;
}
.counterBtnGroup {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}
.counter {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  justify-content: space-between;
  color: var(--primary-color);
  border-radius: 4px;
}
.removeBtn {
  display: none;
  outline: 1px solid rgb(255, 107, 107);
  height: 28px;
  padding: 4px;
  border-radius: 4px;
}
.removeBtn svg {
  width: 20.5px;
  height: 20.5px;
}
.removeBtn svg path {
  fill: rgb(255, 107, 107);
}
.decrementBtn,
.incrementBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 5px;
  font-weight: 600;
  font-size: 16px;
  color: var(--primary-color);
}

.quantity {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  width: 30px;
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--main);
}
.emptyMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .main {
    width: 95%;
    overflow: scroll;
    height: calc(100% - 165.5px);
  }
.main{
  width: 95%;
}

  .decrementBtn,
  .incrementBtn {
    padding: 3px 10px;
  }
  .removeBtn {
    height: 25px;
    padding: 3px;
  }
  .removeBtn svg {
    width: 16.5px;
    height: 16.5px;
  }
  .chatBg {
    background-image: linear-gradient(135deg, #e2e2e2d7 0%,  #c8d9ff66 80%, #c0cfff 100%);
  }
}
