.headProCategory{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0 20px 0;
}
.headProCategory p{
    font-size: 1.4rem;
    font-weight: 500;
}
.headProCategory a{
    font-weight: 600;
    color: var(--primary-color);
}
.categorySec {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; */
display: flex;
flex-wrap: wrap;
gap: 10px;
}
.categoryCard {
      width: calc(100%/ 8);  
    overflow: hidden;
  }
  .categoryCard img {
    aspect-ratio: 1;
    width: 85%;
    padding: 8px 15px;
    /* object-fit: cover; */
    border-radius: 10px;
    background-color: #efefef;
  }
  .categoryCard p {
    padding-top: 5px;
  }
  

@media screen and (max-width: 480px) {
  .categorySec {
    display: grid;
    grid-template-columns: repeat(2, 1fr);}
    .categoryCard {
      width: 100%;
    }
    .ProCategorySec{
        display: grid;
        grid-template-columns: repeat(4,1fr);}
}