.headProCategory{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0 20px 0;
}
.headProCategory p{
    font-size: 1.4rem;
    font-weight: 500;
}
.headProCategory a{
    font-weight: 600;
    color: var(--primary-color);
}
.ProCategorySec{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    gap: 8px;
}
.CatProBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 40px;
    gap: 10px;
}
.CatProBox .catImgBox{
    height: 90px;
    padding-top: 10px;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    background-image: linear-gradient(
    180deg,
    #c4d7ff 0%,
    #bdd2ffe1 55%,
    #ffffff 100%
  );
}
.CatProBox .catImgBox img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -26px;
}
.CatProBox .catName{
    font-size: smaller;
    font-weight: 500;
}

@media screen and (max-width: 480px) {
    .ProCategorySec{
        display: grid;
        grid-template-columns: repeat(4,1fr);}
}