.detailMain {
  display: flex;
  gap: 80px;
  padding: 20px;
  width: 100%;
  height: 79vh;
  align-items: center;
  position: relative;
}

.detailMain .img-section {
    align-items: center;
    height: 100%;
    margin: auto;
    flex-direction: row;
}

.part-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}
.detail-section-product {
  padding-top: 40px;
  gap: 10px;
}
.mainImg {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 14px;
  border: 1px solid rgb(179, 179, 179);
  width: 100%;
  max-width: 600px;
  height: 600px;
  display: grid;
  overflow: hidden;
  place-items: center;
}

.moreImg {
  display: flex;
  width: 90%;
  overflow-x: auto;
  gap: 10px;
  padding-bottom: 10px;
  scrollbar-color: var(--primary-color) #ffffff;
  scrollbar-width: thin;
}

.moreImg::-webkit-scrollbar {
  width: 8px;
  height: 12px;
  border-radius: 10px;
}

.moreImg::-webkit-scrollbar-track {
  background: #ffffff;
}

.moreImg::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
}

.img-section-mini {
  min-width: 60px;
  min-height: 60px;
  width: 60px;
  height: 60px;
  padding: 5px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #d5d5d5;
}

.mainImg img,
.img-section-mini img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.ProductPageDir {
  display: flex;
  align-items: center;
  gap: 6px;
}
.directLink{
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0;
}
.directLink a{
  border-radius: 50px;
  padding: 6px 16px;
  font-size: 14px;
  color: var(--primary-color);
  font-weight: 500;
  text-transform: capitalize;
  background-color: #CCDCFF;
}
.detailMain .addToCart {
  width: 150px;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  height: 30px;
}
.detailMain .addToCart .addButton{
  padding: 8px !important;
  /* background-color: var(--primary-color); */
  font-size: 20px;
  /* color: white; */

}
.detailDis{
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  font-weight: 600;
  border-radius: 5px;
  padding: 8px 14px;
  color: #ffffff;
  background-color: var(--primary-color);
  /* background-color: #CCDCFF; */
}
.ProductPageDir a {
    font-size: 12px;
  font-weight: 500;
}
.ProductPageDir p{   
  font-size: 12px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.ProductPageDir p {
  opacity: 0.8;
}

.ProTitle {
  font-size: 24px;
  font-weight: 700;
}
.ProTitle span {
  text-decoration: line-through;
  font-weight: 400;
  font-size: 14px;
}
.allBrandPro {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 16px;
  font-weight: 600;
  /* color: var(--primary-color); */
}
.allBrandPro img{
  height: 50px;
  width: 50px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #efefef;
  border: 1px solid #d5d5d5;
}
.productHighlight {
  padding-top: 10px;
}

.productHighlight li {
  list-style-position: inside;
  font-size: 13px;
}

.ProductMoreDetail {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ProductMoreDetail div h5 {
  font-weight: 600;
}

.ProductMoreDetail div p {
  font-size: 14px;
}

.relatedPro{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 10px;
}
.showRelatedMore{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(194, 194, 194);
    border: 1px solid var(--primary-color);
    background-color: #e7ffe8;
    padding: 10px 14px;
    border-radius: 5px;
    outline: none;
    width: fit-content;
    color: var(--primary-color);
    font-weight: 700;
    margin: 10px 0;
}
.relatedTitle{
    font-size: 1.5rem;
    margin: 10px 0;
}
@media screen and (max-width: 480px) {
  .detailMain {
    padding: 0;
    flex-direction: column;
  }
  .detailMain .img-section {
    position: unset;
    height: auto;
    width: 100%;
  }
  .part-section {
    width: 100%;
  }
  .relatedPro{
    display: grid;
    grid-template-columns: repeat(2,1fr);}
    /* .relatedTitle{
        font-size: 1rem;
        margin: 7px 0;
    } */
}
