.relatedComponents h2{
    font-size: 16px;
    font-weight: 600;
    padding: 8px 0 10px 0;
}
.relatedBrandSec{
    display: flex;
    width: 100%;
    overflow-x: auto;
    gap: 10px;
}
.relatedBrandSec img{
    height: 80px;
    width: 80px;
    min-height: 80px;
    min-width: 80px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #efefef;
    border: 1px solid #d5d5d5;
}