.searchBar {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px 16px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 8px;
    width: 250px;
    transition: all 0.2s ease-in-out;
}
.searchBar input {
    outline: none;
    border: none;
    background-color: transparent;
    min-width: auto;
    width: -webkit-fill-available;
    width: fit-available;
}
.searchBar:focus-within {
    background-color: var(--secondary-color); 
}
.searchBar{
    width: min(60%,700px);
}
.searchPage{
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    width: 95vw;
    padding: 20px 2.5vw;
    align-items: center;
    flex-direction: row;
}