.shopPage {
  display: flex;
  margin-top: 20px;
  gap: 15px;
  position: relative;
}
.sideNav {
  position: sticky;
  top: 0;
  left: 0;
  height: fit-content;
  max-height: unset;
}

.sideNav nav ul {
  display: flex;
  width: 100%;
  flex-direction: column;
  border: 1px solid lightgrey;
}
.sideNav nav ul li {
  position: relative;
  list-style: none;
  margin: 0;
}

.shopPage .bottomPart {
  display: none;
}
.sideNav nav ul li a {
  overflow: hidden;
    position: relative;
    min-width: 200px;
    display: flex;
    align-items: center;
    white-space: break-spaces;
    width: 100%;
    padding: 8px 0;
    gap: 15px;
    font-weight: 600;
    font-size: 14px;
    width: 260px;
    font-weight: 600;
    font-size: 14px;
    background: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    max-width: 350px;
    border-top: 1px solid lightgray;
    margin-right: 5px;
  }
  .sideNav nav ul li a.activeBtn{
    border-radius: 0px 5px 5px 0px;
    background: var(--secondary-color);
    border-right: 4px solid var(--primary-color);
}
.sideNav nav ul li a:hover {
  color: var(--primary-color);
}
.sideNav nav ul li a img {
  width: 70px;
  height: 70px;
  aspect-ratio: 1;
}
.shop-cards {
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  gap: 10px;
  padding: 10px;
}
.searchPageSec {
  grid-template-columns: repeat(5, 1fr);
}
.shop-cards .card {
  width: 100%;
}
.shopMain {
  max-height: unset;
  overflow: auto;
}
.upperSecShop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.dropbtn {
  background-color: var(--primary-color);
  color: white;
  padding: 12px 16px;
  min-width: 120px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  border-radius: 7px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  overflow: hidden;
  border-radius: 8px;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 30;
}

.dropdown-content button {
  width: 100%;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content button:hover {
  color: #f9f9f9;
  background-color: var(--primary-color);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: var(--primary-color);
}

.pagination {
  display: flex;
  width: 100%;
  gap: 10px;
  margin: 20px 0;
  justify-content: center;
}
.pagination button {
  height: 35px;
  width: 35px;
  border: none;
  color: #222222;
  cursor: pointer;
  border-radius: 50%;
  background-color: transparent;
}

.pagination button:disabled {
  cursor: not-allowed;
}

.pagination button.active {
  background-color: var(--primary-color);
  color: white;
}

.pagination button:hover:not(:disabled) {
  outline: 1px solid var(--primary-color);
}

@media (max-width: 1200px) {
  .shop-cards {
    grid-template-columns: repeat(4, 1fr);
  }

  .searchPageSec {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 1000px) {
  .shop-cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .searchPageSec {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 800px) {
  .shop-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .searchPageSec {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .shopMain {
    max-height: 100vh;
    overflow: auto;
  }
  .sideNav {
    position: unset;
    min-width: 60px;
    max-height: 100vh;
    overflow: auto;
  }
  .sideNav nav ul li a {
    flex-direction: column;
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    width: auto;
    min-width: auto;
  }
  .shop-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
