.headProCategory {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0 20px 0;
}
.headProCategory p {
  font-size: 1.4rem;
  font-weight: 500;
}
.headProCategory a {
  font-weight: 600;
  color: var(--primary-color);
}
.categorySec {
  /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; */
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.categoryCard {
  position: relative;
  width: calc(96% / 7);
  /* height: 100%;   */
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 10px;
  background-color: #efefef;
  background-image: linear-gradient(
    180deg,
    #0084d160 0%,
    #0084d138 55%,
    #699bff2a 100%
  );
}
.categoryCard img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -25px;
  aspect-ratio: 1;
  width: 80%;
  padding: 8px 15px;
  object-fit: cover;
}
.categoryCard p {
  text-align: center;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  font-weight: 500;
  font-size: 18px;
  color: rgb(29, 29, 29);
}

@media screen and (max-width: 480px) {
  .categorySec {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .categoryCard {
    width: 100%;
  }
  .categoryCard p {
    top: 5px;
    font-size: 13px;
  }
  .categoryCard img {
    right: -20px;
  }
  .ProCategorySec {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
