.relatedComponents h2{
    font-size: 18px;
    font-weight: 600;
    padding: 4px 0 14px 0;
}
.relatedBrandSec{
    display: flex;
    width: 100%;
    overflow-x: auto;
    gap: 12px;
}
.relatedBrandSec .cardBrand{
    height: 115px;
    width: 70px;
    min-height: 115px;
    min-width: 70px;
}
    .relatedBrandSec .cardBrand img{
        width: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    border: 1px solid #d5d5d5;
    /* box-shadow: rgba(0, 0, 0, 0.18) 0px 0.602187px 0.602187px -1.25px, rgba(0, 0, 0, 0.16) 0px 2.28853px 2.28853px -2.5px, rgba(0, 0, 0, 0.063) 0px 10px 10px -3.75px; */
}
.relatedBrandSec .cardBrand  h6{
    font-size: 12px;
    font-weight: 600;
    text-align: center;
}