.ChatPage {
  position: relative;
  width: 70%;
  padding: 0 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 2px;
  height: 100% !important;
  margin: auto;
}
.FadeBack {
  position: fixed;
  height: 100px;
  width: 100%;
  background: rgb(2, 0, 36);
  z-index: 1;
}
.FadeBack.topFade {
  top: 0;
  background-color: transparent;
}
.BottomSecChat {
  width: 70%;
  min-height: 120px;
  position: fixed;
  bottom: 3px;
  z-index: 2;
  animation: bottomSecChatAnim 0.7s linear;
  animation-delay: 1.8s;
}
@keyframes  bottomSecChatAnim{
  0%{
    width: 0%;
    transform: translateY(500px);
  }
  100%{
    width: 100%;
    transform: translateY(0px);
  }
}
.LoadingPageChat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  top: 0;
  left: 0;
  background: linear-gradient(28deg, #7398ff, #51e9fc);
  background: radial-gradient(100% 100% at 4% 3%, #adc3ff 0%, transparent), radial-gradient( 100% 100% at var(--g2-1-x-position) var(--g2-1-y-position), #7dabff -32%, transparent ), radial-gradient( 100% 100% at var(--g2-2-x-position) var(--g2-2-y-position), #ffc8c8 0%, transparent ), #ffcdcd;
  animation-name: g-2;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  transition-timing-function: linear
  }
  
  @property --g2-1-x-position { syntax: "<percentage>"; inherits: false; initial-value: 87.96875%; }
  
  @property --g2-1-y-position { syntax: "<percentage>"; inherits: false; initial-value: 91.1328125%; }
  
  @property --g2-2-x-position { syntax: "<percentage>"; inherits: false; initial-value: 13.398437500000002%; }
  
  @property --g2-2-y-position { syntax: "<percentage>"; inherits: false; initial-value: 82.734375%; }
  
  
  :root {
  
  --g2-1-x-position: 87.96875%
  
  --g2-1-y-position: 91.1328125%
  
  --g2-2-x-position: 13.398437500000002%
  
  --g2-2-y-position: 82.734375%
  
  }
  
  
  @keyframes g-2 { 50% { --g2-1-x-position: 15%; --g2-1-y-position: 15%; --g2-2-x-position: 61.21093749999999%; --g2-2-y-position: 13.750000000000002%; } }

/* Fade-out animation */
@keyframes FadeAnimation {
  0% {
    opacity: 1;
  } /* Start fully visible */
  100% {
    opacity: 0;
  } /* Fade out to transparent */
}

.LoadingPageChat h1
,.LoadingPageChat h3  {
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
  width: 80%;
}
.LoadingPageChat h3 {
  font-size: 1.5rem;
  font-weight: 500;
}
.LoadingPageChat img{
  width: max(70%,280px);
  max-width: 300px;
  padding: 10px 0 20px 0;
}

.DemoChatBox {
  width: 100%;
}
.ChatActive {
  display: none !important;
}
.pageRes {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-wrap: balance;
  overflow-y: auto;
  height: 78vh;
  margin-bottom: 124px;
}
.BackBtnDisplay {
  display: none;
}
.textChat {
  position: relative;
  font-size: 1.3rem;
  width: 80%;
  padding: 20px 0;
  min-height: 220px;
  margin: 0 auto;
  text-align: center;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: baseline;
  overflow: hidden;
}

.textChat span {
  position: absolute;
  bottom: 0;
  font-weight: 700;
  /* left: 50%; */
  transform: translate(20px, 50%);
  font-size: 2.6rem;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.textChat span.active {
  opacity: 1;
  transform: translate(0px, -50%);
}

.boxImgGemini {
  margin: 20px 0;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 18px;
  gap: 4px;
  font-weight: 500;
  animation: suggestedCardAnim 0.6s linear ;
  animation-delay: 2.2s;
}
.boxImgGemini div {
  min-height: 20px;
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.boxImgGemini img {
  height: 18px;
  margin: 0 7px;
}
.MainMessage{
  /* width: 100%; */
  margin-bottom: 120px;
  animation: suggestedCardAnim 0.6s linear ;
  animation-delay: 2.2s;
}
.MainMessage h1 {
  font-size: 72px;
  font-weight: 600;
 background: linear-gradient(-7deg, #3468fa, #51e9fc);  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}
.MainMessage h4{
  font-size: 30px
}
.ChatSuggestCardSec {
  width: 100%;
  display: flex;
  gap: 8px;
  overflow-x: auto;
  /* justify-content: center; */
  animation: suggestedCardAnim 0.6s linear ;
  animation-delay: 2.2s;
}
.suggestedCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  min-width: 205px;
  min-height: 135px;
  height: 145px;
  width: 290px;
  padding: 16px;
  border: 1px solid rgb(175, 175, 175);
  background-color: rgba(255, 255, 255, 0.747);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  transition: all 0.32s linear;
  border-radius: 12px;
}
@keyframes suggestedCardAnim {
  0%{
    transform: translateY(500px);
    transform: scale(0);
  }
  100%{
    transform: translateY(0px);
    transform: scale(1);
  }
}

.suggestedCard:hover {
  color: white;
  cursor: pointer;
  background-color: var(--primary-color);
}

.suggestedCard .textSuggestion {
  height: 93px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.suggestedCard .textSuggestion h3 {
  font-weight: 600;
}
.suggestedCard .textSuggestion p {
  font-size: 14px;
}

.prePageChat {
  align-items: center;
  display: flex;
  justify-content: end;
  height: 80vh;

}
.prePageChat {
  flex-direction: column;
}

@media (max-width: 480px) {
  .BottomSecChat {
    width: 95%;
  }
  .ChatPage {
    width: 97%;
    padding: 0;
  }
  .MainMessage{
    /* width: 100%; */
    margin-bottom: 100px;
  }
  .MainMessage h1 {
    font-size: 52px;}
  .MainMessage h4{
    font-size: 20px
  }
  .ChatSuggestCardSec {
    min-height: unset;
  }
  .BackBtnDisplay {
    display: flex;
  }
  .pageRes {
    gap: 2px;
    height: calc(100vh - 263px);
    margin-bottom: 40px;
  }
  .suggestedCard {
    min-height: 120px;
    height: 120px;
    min-width: 200px;
    width: 200px;
  }
  .suggestedCard .textSuggestion {
    height: 80px;
  }
  .suggestedCard .textSuggestion h3 {
    font-size: 16px;
  }
  .suggestedCard .textSuggestion p {
    font-size: 12px;
  }
  .ChatSuggestCardSec {
    justify-content: start;
  }
  .textChat {
    width: 100%;
  }
  .textChat span {
    font-size: 25px;
  }
  .textChat {
    font-size: 14px;
  }
  .boxImgGemini {
    flex-direction: column;
  }
  .boxImgGemini div {
    margin: 0 auto;
  }
  .FoodStyleCardSec button {
    font-size: 14px;
  }
  .FoodStyleCardSec button svg {
    height: 14px;
    width: 14px;
  }
  .suggestedCard{
    cursor: none;
  }
}
