.searchPageSec {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(7, 1fr);
}
.NoError{
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
}
.SearchActivePageTop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 20px 0;
  z-index: 99;
  background: linear-gradient(180deg,  #b3e3ff ,  #e1f4ff);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.SearchActivePageTop .searchBar{
width: 85%;
margin: 0 auto;
}
.searchPage h4{
  padding: 20px 0;
}
.FoundPro {
  font-size: 20px;
  font-weight: 500;
  padding: 20px 0;
  color: var(--text-color);
}
.openFilterSec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  padding: 90px 2.5% 0px 2.5%;
}
.FoundPro span {
  font-weight: 600;
  color: var(--primary-color);
}
.FilterSec {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.384);
  height: 92%;
  width: 100vw;
  left: 0;
  opacity: 0;
  bottom: 0;
  z-index: -22;
}
.openFilterSearch {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  padding: 6px 12px;
  border-radius: 7px;
  border: 1px solid lightgray;
}
.BrandFilterList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.openFilterSearch svg {
  width: 15px;
  height: 15px;
}
.FilterSec.visible {
  opacity: 1;
  touch-action: none;
  z-index: 202;
}
.FilterSec .filterSecDiv {
  transition: all 300ms ease-in-out;
  position: absolute;
  width: 600px;
  height: 95%;
  background-color: white;
  bottom: 0;
  padding: 1% 0;
  right: -600px;
}
.visible .filterSecDiv {
  transition: all 300ms ease-in-out;
  right: 0;
}
.FilterSec .filterSecDiv .HeaderSidebar {
  padding: 10px 20px;
  border-bottom: 1px solid lightgray;
}
.FilterSec .filterSecDiv .BottomSec {
  display: grid;
  grid-template-columns: 32% 68%;
  height: 85%;
}
.FilterSec .filterSecDiv .BottomSec .titleSec {
  display: flex;
  flex-direction: column;
  border-right: 1px solid lightgray;
}
.FilterSec .filterSecDiv .BottomSec .titleSec button {
  text-align: left;
  padding: 10px 20px;
  height: 50px;
  font-weight: 600;
  font-size: 16px;
  position: relative;
}
.FilterSec .filterSecDiv .BottomSec .titleSec button.ActiveBtnFilter {
  color: var(--primary-color);
}
.FilterSec .filterSecDiv .BottomSec .titleSec button.ActiveBtnFilter::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 35px;
  width: 4px;
  background-color: var(--primary-color);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.FilterSec .filterSecDiv .BottomSec .ContentSecFilter {
  padding: 10px 20px;
  overflow-y: auto;
  overflow-x: hidden;
}
.filterSecDiv .SearchBrandSec {
  margin: 10px 0;
  display: flex;
  align-items: center;
  width: auto;
  border: 1px solid lightgray;
  background-color: #ffffff;
  border-radius: 10px;
  height: 34px;
  padding: 5px 10px;
  gap: 10px;
}
.filterSecDiv .SearchBrandSec input {
  background-color: transparent;
  outline: none;
  border: none;
  width: 100%;
  height: 34px;
}
.filterSecDiv .FilActionBtnSec {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px 2.5%;
  width: 95%;
  margin: auto;
  border-top: 1px solid lightgray;
}
.filterSecDiv .FilActionBtnSec button {
  padding: 10px 20px;
  height: 50px;
  font-weight: 600;
  font-size: 16px;
  position: relative;
  border-radius: 10px;
}
.filterSecDiv .FilActionBtnSec button:nth-child(2) {
  background-color: var(--primary-color);
  color: white;
}
.SearchTopBrandsListHome{
  padding: 20px 0;
  display: flex;
  gap: 10px;
  overflow-X: auto;
  overflow-y: hidden;
}
.SearchTopBrandsListHome .BrandList{
  min-width: 80px;
  min-height: 80px;
  border-radius: 10px;
}

.SearchTopBrandsListHome .BrandList img{
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  border: 1px solid #d5d5d5;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 0.602187px 0.602187px -1.25px, rgba(0, 0, 0, 0.16) 0px 2.28853px 2.28853px -2.5px, rgba(0, 0, 0, 0.063) 0px 10px 10px -3.75px;
}
@media screen and (max-width: 480px) {
 .mobileShop .searchPage{
    padding-top: 15px;
  }
  .searchPageSec {
    grid-template-columns: repeat(2, 1fr);
  }
  .FilterSec .filterSecDiv {
    width: 100%;
  }
  .FilterSec .filterSecDiv .BottomSec .ContentSecFilter {
    padding: 10px 15px;
  }
  .FilterSec.visible {
    z-index: 122;
}
.FilterSec {
    height: 100%;
}
.SearchTopBrandsListHome .BrandList{
  min-width: 60px;
  min-height: 60px;
}
}
